input[type='text']{
    color: $couleurPolice;

    //Bordure
    border-color: $couleurPolice;
    border-radius: $borderRadius;
    border-width: 1px;
    border-style: solid;

    //Police
    font-family: $police;
    font-size: 20px;
    width: 15em;

    // &:hover{
        // border-color: red;
    // }
}

input[type='password']{
    color: $couleurPolice;

    //Bordure
    border-color: $couleurPolice;
    border-radius: $borderRadius;
    border-width: 1px;
    border-style: solid;

    //Police
    font-family: $police;
    font-size: 20px;
    width: 15em;

    // &:hover{
        // border-color: red;
    // }
}

input[type='file']{
    color: $couleurPolice;
    font-family: $police;
}