<mat-tab-group>
  <mat-tab label="Renseignements">
    <form [formGroup]='myFormGroupRenseignements'>
      <div>
        <h3 class='h3-contrat'><mat-icon matPrefix>child_care</mat-icon> Enfant</h3>
        <mat-divider></mat-divider>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.enfant.nom' placeholder="Nom" formControlName='enfantNom' required>
          <mat-error *ngIf="controlEnfantNom.invalid">Champ requis invalide</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.enfant.prenom' placeholder="Prénom" formControlName='enfantPrenom' required>
          <mat-error *ngIf="controlEnfantPrenom.invalid">Champ requis invalide</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]='dateNaissanceEnfant' placeholder="Date de naissance" [(ngModel)]="donneesContrat.enfant.dateNaissance" formControlName="enfantDateNaissance">
          <mat-datepicker-toggle matPrefix [for]='dateNaissanceEnfant'></mat-datepicker-toggle>
          <mat-datepicker #dateNaissanceEnfant></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <h3 class='h3-contrat'><mat-icon matPrefix>supervisor_account</mat-icon> Mère</h3>
        <mat-divider></mat-divider>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.mere.nom' placeholder="Nom" formControlName='mereNom' required>
          <mat-error *ngIf="controlMereNom.invalid">Champ requis invalide</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.mere.prenom' placeholder="Prénom" formControlName='merePrenom' required>
          <mat-error *ngIf="controlMerePrenom.invalid">Champ requis invalide</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.mere.mail' placeholder="E-mail" formControlName='mereMail'>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.mere.adresse' placeholder="Adresse" formControlName='mereAdresse'>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.mere.telPortable' placeholder="Numéro de téléphone" formControlName='mereTelPortable'>
        </mat-form-field>
      </div>
      <div>
        <h3 class='h3-contrat'><mat-icon matPrefix>supervisor_account</mat-icon> Père</h3>
        <mat-divider></mat-divider>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.pere.nom' placeholder="Nom" formControlName='pereNom' required>
          <mat-error *ngIf="controlPereNom.invalid">Champ requis invalide</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.pere.prenom' placeholder="Prénom" formControlName='perePrenom' required>
          <mat-error *ngIf="controlPerePrenom.invalid">Champ requis invalide</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.pere.mail' placeholder="E-mail" formControlName='pereMail'>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.pere.adresse' placeholder="Adresse" formControlName='pereAdresse'>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.pere.telPortable' placeholder="Numéro de téléphone" formControlName='pereTelPortable'>
        </mat-form-field>
      </div>
      <div>
        <h3 class='h3-contrat'><mat-icon matPrefix>person</mat-icon> Tuteur</h3>
        <mat-divider></mat-divider>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.tuteur.nom' placeholder="Nom" formControlName='tuteurNom'>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.tuteur.prenom' placeholder="Prénom" formControlName='tuteurPrenom'>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.tuteur.telPortable' placeholder="Numéro de téléphone" formControlName='tuteurTelPortable'>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.tuteur.adresse' placeholder="Adresse" formControlName='tuteurAdresse'>
        </mat-form-field>
      </div>
      <div>
        <h3 class='h3-contrat'><mat-icon matPrefix>local_hospital</mat-icon> Médecin de famille</h3>
        <mat-divider></mat-divider>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.docteur.nom' placeholder="Nom" formControlName='medecinNom'>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.docteur.prenom' placeholder="Prénom" formControlName='medecinPrenom'>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.docteur.telPortable' placeholder="Numéro de téléphone" formControlName='medecinTelPortable'>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]='donneesContrat.docteur.adresse' placeholder="Adresse" formControlName='medecinAdresse'>
        </mat-form-field>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Contrat">
    <form [formGroup]='myFormGroupContrat'>
      <h3 class="h3-contrat"><mat-icon matPrefix>home</mat-icon><i>Conditions d'accueil </i></h3>
      <mat-divider></mat-divider>
      <div>
        <mat-form-field>
          <input matInput placeholder="Moy d'heures par semaine" [(ngModel)]="donneesContrat.contrat.nbHeuresGardeSemaine" (keyup)='calculMoyenneHeuresParMois(); calculSalaireBaseNet(); this.calculCPBaseBrut()' formControlName="moyHeuresParSemaine">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Moy de semaines par an" [(ngModel)]="donneesContrat.contrat.nbSemainesGardeAn" (keyup)='calculMoyenneHeuresParMois(); calculMoyenneJoursParMois(); calculSalaireBaseNet()' formControlName="moySemainesParAn">
        </mat-form-field>  
        <mat-form-field>
          <input matInput placeholder="Nb de jours par semaine" [(ngModel)]="donneesContrat.contrat.nbJoursGardeSemaine" (keyup)='calculMoyenneJoursParMois()' formControlName="nbJoursParSemaine">
        </mat-form-field>               
      </div>
      <div>
        <mat-form-field>
          <input matInput  placeholder="Moy d'heures par mois" [ngModel]="donneesContrat.contrat.moyNbHeuresGardeMois | number : '1.2-2'" formControlName="moyHeuresParMois">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Moy de jours par mois" [ngModel]="donneesContrat.contrat.moyNbJoursGardeMois | number : '1.0-0'" formControlName="moyJoursParMois">
          </mat-form-field>
        <mat-form-field>
          <input matInput [min]='minDateDebut' [matDatepicker]="datePickerDebut" placeholder="Date de début du contrat" [(ngModel)]="donneesContrat.contrat.dateDebut" formControlName="dateDebut">
          <mat-datepicker-toggle matPrefix [for]='datePickerDebut'></mat-datepicker-toggle>
          <mat-datepicker #datePickerDebut></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [min]='minDateDebut' [matDatepicker]='datePickerfin' placeholder="Date de fin du contrat" [(ngModel)]="donneesContrat.contrat.dateFin" formControlName="dateFin">
          <mat-datepicker-toggle matPrefix [for]='datePickerfin'></mat-datepicker-toggle>
          <mat-datepicker #datePickerfin></mat-datepicker>
        </mat-form-field>        
      </div> 
      <h3 class="h3-contrat"><mat-icon matPrefix>euro_symbol</mat-icon><i> Rémunération</i></h3>
      <mat-divider></mat-divider>
      <div>
        <mat-form-field>
          <input matInput placeholder="Taux horaire brut" formControlName="tauxHoraireBrut" #tauxHoraireBrut (keyup)='donneesContrat.contrat.tauxHoraireBrut = tauxHoraireBrut.value' [ngModel]="donneesContrat.contrat.tauxHoraireBrut | number : '1.2-2'">          
          <span matSuffix><mat-icon>euro_symbol</mat-icon></span>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Taux horaire net" #tauxHoraireNet (keyup)='calculTauxHoraireBrut(tauxHoraireNet.value); calculSalaireBaseNet()' [ngModel]="donneesContrat.contrat.tauxHoraireNet | number : '1.2-2'" formControlName="tauxHoraireNet">
          <span matSuffix><mat-icon>euro_symbol</mat-icon></span>
        </mat-form-field>        
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Salaire brut mensuel" [ngModel]="donneesContrat.contrat.salaireBaseBrut | number : '1.2-2'" formControlName="salaireBaseBrut">
          <span matSuffix><mat-icon>euro_symbol</mat-icon></span>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Montant CP brut contrat" [ngModel]="donneesContrat.contrat.congesPayesBaseBrut | number : '1.2-2'" formControlName="congesPayesBaseBrut">
          <span matSuffix><mat-icon>euro_symbol</mat-icon></span>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Total salaire brut mensuel" [ngModel]="donneesContrat.contrat.salaireTotalBaseBrut | number : '1.2-2'" formControlName="salaireTotalBaseBrut">
          <span matSuffix><mat-icon>euro_symbol</mat-icon></span>
        </mat-form-field>        
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Salaire net mensuel" [ngModel]="donneesContrat.contrat.salaireBaseNet | number : '1.2-2'" formControlName="salaireBaseNet">
          <span matSuffix><mat-icon>euro_symbol</mat-icon></span>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Montant CP net contrat" [ngModel]="donneesContrat.contrat.congesPayesBaseNet | number : '1.2-2'" formControlName="congesPayesBaseNet">
          <span matSuffix><mat-icon>euro_symbol</mat-icon></span>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Total salaire net mensuel" [ngModel]="donneesContrat.contrat.salaireTotalBaseNet | number : '1.2-2'" formControlName="salaireTotalBaseNet">
          <span matSuffix><mat-icon>euro_symbol</mat-icon></span>
        </mat-form-field>
      </div>
      <h3 class="h3-contrat"><mat-icon matPrefix>restaurant_menu</mat-icon><i>Indemnités</i></h3>
      <mat-divider></mat-divider>
      <div>
        <mat-form-field>
          <input matInput placeholder="Repas" [ngModel]="donneesContrat.contrat.montantRepas | number : '1.2-2'" #montantRepas (keyup)="donneesContrat.contrat.montantRepas = montantRepas.value" formControlName="montantRepas">
          <span matSuffix><mat-icon>euro_symbol</mat-icon></span>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Jounalières" [ngModel]="donneesContrat.contrat.montantIndemnites | number : '1.2-2'" #montantIndemnites (keyup)="donneesContrat.contrat.montantIndemnites = montantIndemnites.value" formControlName="montantIndemnites">
          <span matSuffix><mat-icon>euro_symbol</mat-icon></span>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Goûter" [ngModel]="donneesContrat.contrat.montantGouter | number : '1.2-2'" #montantGouter (keyup)="donneesContrat.contrat.montantGouter = montantGouter.value" formControlName="montantGouter">
          <span matSuffix><mat-icon>euro_symbol</mat-icon></span>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Barème kilométrique" [ngModel]="donneesContrat.contrat.baremeKm | number : '1.2-2'" #baremeKm (keyup)="donneesContrat.contrat.baremeKm = baremeKm.value" formControlName="baremeKm">
          <span matSuffix><mat-icon>euro_symbol</mat-icon></span>
        </mat-form-field>
      </div>      
    </form>
  </mat-tab>
  <mat-tab label="Planning">
    <form [formGroup]="myFormGroupPlanning">
      <mat-divider></mat-divider>
      <h3 class='h3-contrat'><u><i>Lundi</i></u></h3>
      <label>Heure d'arrivée : </label>
      <mat-form-field>
        <input matInput [(ngModel)]='donneesContrat.planning.lundi.heureArrivee' placeholder="HH:MM" formControlName='lundiArrivee'>
      </mat-form-field>
      <label>Heure de départ : </label>
      <mat-form-field>
        <input matInput [(ngModel)]='donneesContrat.planning.lundi.heureDepart' placeholder="HH:MM" formControlName='lundiDepart'>
      </mat-form-field>  
      <h3 class='h3-contrat'><u><i>Mardi</i></u></h3>
      <label>Heure d'arrivée : </label>
      <!-- <mat-form-field>
        <input matInput [(ngModel)]='donneesContrat.planning.mardi.heureArrivee' placeholder="HH:MM" formControlName='mardiArrivee'>
      </mat-form-field>
      <label>Heure de départ : </label>
      <mat-form-field>
        <input matInput [(ngModel)]='donneesContrat.planning.mardi.heureDepart' placeholder="HH:MM" formControlName='mardiDepart'>
      </mat-form-field>
      <h3 class='h3-contrat'><u><i>Mercredi</i></u></h3>
      <label>Heure d'arrivée : </label>
      <mat-form-field>
        <input matInput [(ngModel)]='donneesContrat.planning.mercredi.heureArrivee' placeholder="HH:MM" formControlName='mercrediArrivee'>
      </mat-form-field>
      <label>Heure de départ : </label>
      <mat-form-field>
        <input matInput [(ngModel)]='donneesContrat.planning.mercredi.heureDepart' placeholder="HH:MM" formControlName='mercrediDepart'>
      </mat-form-field>
      <h3 class='h3-contrat'><u><i>Jeudi</i></u></h3>
      <label>Heure d'arrivée : </label>
      <mat-form-field>
        <input matInput [(ngModel)]='donneesContrat.planning.jeudi.heureArrivee' placeholder="HH:MM" formControlName='jeudiArrivee'>
      </mat-form-field>
      <label>Heure de départ : </label>
      <mat-form-field>
        <input matInput [(ngModel)]='donneesContrat.planning.jeudi.heureDepart' placeholder="HH:MM" formControlName='jeudiDepart'>
      </mat-form-field>
      <h3 class='h3-contrat'><u><i>Vendredi</i></u></h3>
      <label>Heure d'arrivée : </label>
      <mat-form-field>
        <input matInput [(ngModel)]='donneesContrat.planning.vendredi.heureArrivee' placeholder="HH:MM" formControlName='vendrediArrivee'>
      </mat-form-field>
      <label>Heure de départ : </label>
      <mat-form-field>
        <input matInput [(ngModel)]='donneesContrat.planning.vendredi.heureDepart' placeholder="HH:MM" formControlName='vendrediDepart'>
      </mat-form-field>
      <h3 class='h3-contrat'><u><i>Samedi</i></u></h3>
      <label>Heure d'arrivée : </label>
      <mat-form-field>
        <input matInput [(ngModel)]='donneesContrat.planning.samedi.heureArrivee' placeholder="HH:MM" formControlName='samediArrivee'>
      </mat-form-field>
      <label>Heure de départ : </label>
      <mat-form-field>
        <input matInput [(ngModel)]='donneesContrat.planning.samedi.heureDepart' placeholder="HH:MM" formControlName='samediDepart'>
      </mat-form-field>
      <h3 class='h3-contrat'><u><i>Dimanche</i></u></h3>
      <label>Heure d'arrivée : </label>
      <mat-form-field>
        <input matInput [(ngModel)]='donneesContrat.planning.dimanche.heureArrivee' placeholder="HH:MM" formControlName='dimancheArrivee'>
      </mat-form-field>
      <label>Heure de départ : </label>
      <mat-form-field>
        <input matInput [(ngModel)]='donneesContrat.planning.dimanche.heureDepart' placeholder="HH:MM" formControlName='dimancheDepart'>
      </mat-form-field>*/ -->
    </form>    
  </mat-tab>
</mat-tab-group>
<a routerLink='' mat-raised-button>
  <mat-icon matPrefix>cancel</mat-icon>
  Annuler
</a>
<button mat-raised-button (click)='envoiContrat()'>
  Valider le contrat
  <mat-icon matSuffix>send</mat-icon>
</button>
<button mat-raised-button (click)='test()'>
    Test
    <mat-icon matSuffix>build</mat-icon>
</button>