<!-- <h4>
  Titre de séparation
</h4> -->
<!-- <div class='navbar-fixed'> -->
    <!-- <nav class='sidenav'> -->
            
        <!-- <div class ='nav-wrapper'>
            <ul class='left hide-on-med-and-down'>
                <li> Premier lien</li>
                <li> deuxieme lien</li>
                <li> troisieme lien</li>
                <li> quatrieme lien</li>
            </ul>
        </div> -->
    <!-- </nav> -->
    <router-outlet></router-outlet>
<!-- </div> -->
<body>
    <div class='nav-wrapper' style="background-color: blue;">
        <ul>
            <li><a href="#!">Premier</a></li>
            <li><a href="#!">Premier</a></li>
            <li><a href="#!">Premier</a></li>
            <li><a href="#!">Premier</a></li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</body>



<!-- <h4>
    Titre de séparation
</h4> -->
