<!-- formulaire d'inscription -->
<div>
  <!-- <form action = "membres/controlers/global.php?action=viewSignUp" enctype='multipart/form-data' method="post" class="formulaire"> -->
    <div class="groupeLabel">
      <div class="label">Nom: </div><input type="text" name="name">
    </div>
    <div class ="groupeLabel">
        <div class="label">Prénom: </div><input type="text" name="first">
    </div>
    <div class ="groupeLabel">
        <div class="label">Mot de passe: </div><input type="password" name="password">
    </div>
    <div class ="groupeLabel">
        <div class="label">Retaper le mot de passe: </div><input type="password" name="passwordConfirm">
    </div>
    <div class ="groupeLabel">  
        <div class="label">Téléphone portable: </div><input type="text" name="mobile" placeholder="01-23-45-67-89 ou 0123456789">
    </div>
    <div class ="groupeLabel">
        <div class="label">Date de naissance: </div><input type="text" placeholder ='jj/mm/aaaa' name="birth" id='lblDateNaissance'>
    </div>

    <div class ="groupeLabel">
        <div class="label">E-mail: </div><input type="text" name="mail">
    </div>
    <div class ="groupeLabel">
        <div class="label">Photo de profil: </div><input type="file" name="file">
    </div> 
    <p><input type="button" value ="Valider" class = "bouton"></p>
    <p><input type="submit" value ='Retour' class = "bouton"></p>
  <!-- </form> -->
</div>