<div class="signUp">
    <i class="material-icons prefix icone-formulaire">person</i>
    <mat-form-field>
        <input matInput class='input-text' placeholder='Nom'[(ngModel)]="personne.nom" type="text" name="name">
    </mat-form-field>
    <i class="material-icons prefix icone-formulaire">person</i>
    <mat-form-field>    
        <input matInput class='input-text' placeholder='Prénom'[(ngModel)]="personne.prenom" type="text" name="first">
    </mat-form-field>
    <i class="material-icons prefix icone-formulaire">vpn_key</i>
    <mat-form-field>
        <input matInput class='input-text input-password' placeholder='Mot de passe'[(ngModel)]="personne.password"type="password" name="password">
    </mat-form-field>
    <i class="material-icons prefix icone-formulaire">vpn_key</i>
    <mat-form-field>
        <input matInput class='input-text input-password' placeholder='Confirmer le mot de passe'[(ngModel)]="confirmPassword"type="password" name="passwordConfirm"> 
    </mat-form-field>
    <i class="material-icons prefix icone-formulaire">phone</i>
    <mat-form-field>    
        <input matInput class='input-text' placeholder='Numéro de téléphone'[(ngModel)]="personne.mobile"type="text" name="mobile" placeholder="01-23-45-67-89 ou 0123456789">
    </mat-form-field>
    <i class="material-icons prefix icone-formulaire">date_range</i>
    <mat-form-field>    
        <input matInput class='input-text' placeholder='Date de naissance'[(ngModel)]="personne.dateNaissance"type="text" placeholder ='jj/mm/aaaa' name="birth" id='lblDateNaissance'>
    </mat-form-field>
    <i class="material-icons prefix icone-formulaire">email</i>
    <mat-form-field>    
        <input matInput class='input-text' placeholder='E-mail'[(ngModel)]="personne.mail"type="text" name="mail">
    </mat-form-field>
        <div class='btn '>
            <i class="material-icons prefix icone-formulaire">add_a_photo</i>
            <input type="file" (change)="selectionFichier($event)" name="avatar" accept=".jpg, .jpeg, .png, .bmp">
        </div>
    <p>
        <button mat-raised-button (click)="retour()" class = "btn-formulaire">
            <i class="material-icons left icone-formulaire">arrow_back</i> Retour
        </button> 
        <button mat-raised-button (click)="validation()" class = "btn-formulaire">Valider 
            <i class="material-icons right icone-formulaire">send</i>
        </button>    
    </p>  
</div>